.fact-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(#4c275b, #c33d3dad);
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 20px rgb(221 79 37 / 43%);
    width: 25%;
    transition: all 0.2s;
  }

  .fact-tile:hover {
    transform: translateY(-2px);
    transition: transform 0.2s;
    box-shadow: 0 2px 20px rgba(249, 157, 44, 0.49);
  }

  .fact-tile img {
    /*width: 9rem;*/
    height: 5rem;
  }

  .fact-tile h2 {
    margin-bottom: 0;
  }

  @media (max-width: 1500px) {
    .fact-tile {
      width: calc(100% / 4);
    }
  }

  @media (max-width: 1000px) {
    .fact-tile {
      width: calc(100% / 3);
    }
  }

  @media (max-width: 800px) {
    .fact-tile {
      width: calc(100% / 2);
    }
  }